<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8" />
	</head>
	<body>
		<nav th:fragment="navbar" class="navbar navbar-inverse">
			<div class="container">
				<div class="navbar-header navbar-brand">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Alternar navegación</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					Cinema DB
				</div>
				<div id="navbar" class="collapse navbar-collapse">
					<ul class="nav navbar-nav">
						<li><a href="/home">Inicio</a></li>
						<li><a href="/peliculas">Películas</a></li>
						<li><a href="/logout">Cerrar sesión</a></li>
					</ul>
				</div>
			</div>
		</nav>
	</body>
</html>