/******************

INDEX PAGE STYLES

******************/
.index-page {
    height: 100%;
    background-repeat: no-repeat;
    background-image: url("/images/index_background.jpg");
    background-size:cover;
    text-align: center;
}

.index-page h1,
.index-page p {
	color: #FFF;
}

.index-container {
	padding: 10%;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.4);	
}

/******************

LOGIN PAGE STYLES

******************/
.login-page {
    height: 100%;
    background-repeat: no-repeat;
    background-image: url("/images/login_background.jpg");
    background-size:cover;
}

.login-container {
    background-color: #F7F7F7;
    padding: 20px 25px 30px;
    margin: 0 auto 25px;
    margin-top: 50px;
    max-width: 350px;
    padding: 40px;
}

.form-login input,
.form-login button {
    margin-bottom: 10px;
}

/******************

SEARCH PAGE STYLES

******************/
.search-page {
    height: 100%;
    background-repeat: no-repeat;
    background-image: url("../images/search_background.jpg");
    background-size:cover;
}

.search-container {
	width: 100%;
	display: flex;
	align-items: center;
}

.search-box {
	background-color: rgba(0, 0, 0, .35);
	width: 100%;
	padding: 20px 25px;
}

.search-box > p {
	color: #FFF;
	font-size: 140%;
	font-weight: bold;
	text-align: center;
}

/******************

GENERIC COMPONENTS

******************/
/*.btn {
    font-weight: 700;
    height: 36px;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
}*/

.hidden-label {
	display: none;
}
