<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />

		<title>Cinema DB</title>

		<link rel="stylesheet" href="/css/bootstrap.min.css" />
		<link rel="stylesheet" href="/css/font-awesome.min.css" />
		<link rel="stylesheet" href="/css/style.css" />
	</head>
	<body>
		<div th:replace="fragments/navbar :: navbar"></div>
		
		<div class="container">
			<header role="banner" aria-label="cabecera">
				<h1>Editar película</h1>
			</header>
			<main role="main" aria-label="contenido principal">
				<p>El siguiente formulario muestra los datos de la película seleccionada. Tras hacer las modificaciones necesarias, pulsa el botón guardar para guardar los cambios. Todos los campos son obligatorios.</p>
				<form class="form" role="form" method="post" th:action="@{/peliculas/edit/confirm}">
					<input type="hidden" th:value="${pelicula.getId()}" name="id"/>
					<div class="form-group">
						<label for="nombre">Nombre</label>
						<input class="form-control type="text" id="nombre" name="nombre" required="" aria-required="true" th:value="${pelicula.getNombre()}"/>
					</div>
					<div class="form-group">
						<label for="anio">Año</label>
						<input class="form-control type="number" required="" aria-required="true" id="anio" name="anio" th:value="${pelicula.getAnio()}"/>
					</div>
					<div class="form-group">
						<label for="director">Director</label>
						<input class="form-control type="text" name="director" id="director" required="" aria-required="true" th:value="${pelicula.getDirector()}"/>
					</div>
					<div class="form-group">
						<label for="reparto">Reparto</label>
						<input class="form-control type="text" id="reparto" name="reparto" required="" aria-required="true" th:value="${pelicula.getReparto()}"/>
					</div>
					<div class="form-group">
						<label for="descripcion">Descripción</label>
						<textarea class="form-control id="descripcion" name="descripcion" required="" aria-required="true" th:text="${pelicula.getDescripcion()}"></textarea>
					</div>
					<div class="form-group">	
						<label for="valoracion">Valoración</label>
						<input class="form-control type="text" id="valoracion" name="valoracion" required="" aria-required="true" th:value="${pelicula.getValoracion()}"/>
					</div>
					<div class="form-group">	
						<label for="url_portada">URL de la portada</label>
						<input class="form-control type="text" id="url_portada" name="url_portada" required="" aria-required="true" th:value="${pelicula.getUrl_portada()}"/>
					</div>
					<div class="form-group">	
						<label for="url_streaming">URL del streaming de la película</label>
						<input class="form-control type="text" id="url_streaming" name="url_streaming" required="" aria-required="true" th:value="${pelicula.getUrl_streaming()}"/>
					</div>
					<input class="btn btn-success" type="submit" value="Guardar"/>
					<a href="/peliculas">Cancelar</a>
				</form>
			</main>
		</div>
	</body>
</html>
