<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Buscar películas</title>
<meta charset="utf-8"/>
</head>
<body>
<header role="banner" aria-label="cabecera">
<h1>Buscar películas</h1>
</header>
<main role="main" aria-label="contenido principal">
<p>Introduce tu consulta en el siguiente cuadro de búsqueda.</p>
<form role="search" method="post" th:action="@{/peliculas/buscar/resultados}">
<label for="consulta">Buscar:</label>
<input type="search" required="" aria-required="true" id="consulta" name="consulta"/>
<input type="submit" value="Buscar"/>
</form>
</main>
</body>
</html>
