<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />

		<title>Cinema DB</title>

		<link rel="stylesheet" href="/css/bootstrap.min.css" />
		<link rel="stylesheet" href="/css/font-awesome.min.css" />
		<link rel="stylesheet" href="/css/style.css" />
	</head>
	<body>
		<div th:replace="fragments/navbar :: navbar"></div>
	
		<div class="container">	
			<header role="banner" aria-label="cabecera">
				<h1>Lista de usuarios</h1>
			</header>
			
			<main role="main" aria-label="Contenido principal">
				<a class="btn btn-primary" href="/users/add"><i class="fa fa-plus"></i> Nuevo usuario</a>
				
				<table class="table table-striped">
					<caption>Lista de usuarios registrados</caption>
					<thead>
						<tr>
							<th scope="col">Id</th>
							<th scope="col">Nombre</th>
							<th scope="col">Correo electrónico</th>
							<th scope="col">Opciones</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="usuario : ${usuarios}">
							<td scope="row" th:text="${usuario.getId()}"></td>
							<td th:text="${usuario.getName()}"></td>
							<td th:text="${usuario.getEmail()}"></td>
							<td>
								<ul>
									<li><a th:href="@{/users/edit(id=${usuario.getId()})}">Editar</a></li>
									<li><a th:href="@{/users/delete(id=${usuario.getId()})}">Eliminar</a></li>
								</ul>
							</td>
						</tr>
					</tbody>
				</table>
			</main>
		</div>
	</body>
</html>