<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />

		<title>Cinema DB</title>

		<link rel="stylesheet" href="/css/bootstrap.min.css" />
		<link rel="stylesheet" href="/css/font-awesome.min.css" />
		<link rel="stylesheet" href="/css/style.css" />
	</head>
	<body>
		<div th:replace="fragments/navbar :: navbar"></div>
		
		<div class="container">
			<header role="banner" aria-label="cabecera">
				<h1>Lista de películas</h1>
			</header>
			<main role="main" aria-label="Contenido principal">
				<a th:if="${admin}" class="btn btn-primary" href="/peliculas/buscar"><i class="fa fa-plus"></i> Nueva película</a>
				
				<table class="table table-striped">
					<caption>Lista de películas disponibles</caption>
					<thead>
						<tr>
							<th scope="col">Id</th>
							<th scope="col">Nombre</th>
							<th scope="col">Año</th>
							<th scope="col">Director</th>
							<th th:if="${admin}" scope="col">Opciones</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="pelicula : ${peliculas}">
							<td scope="row" th:text="${pelicula.getId()}"></td>
							<td><a th:href="@{/pelicula(id=${pelicula.getId()})}" th:text="${pelicula.getNombre()}"></a></td>
							<td th:text="${pelicula.getAnio()}"></td>
							<td th:text="${pelicula.getDirector()}"></td>
							<td th:if="${admin}">
								<ul>
									<li><a th:href="@{/peliculas/edit(id=${pelicula.getId()})}">Editar</a></li>
									<li><a th:href="@{/peliculas/delete(id=${pelicula.getId()})}">Eliminar</a></li>
								</ul>
							</td>
						</tr>
					</tbody>
				</table>
			</main>
		</div>
	</body>
</html>