<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />

		<title>Cinema DB</title>

		<link rel="stylesheet" href="/css/bootstrap.min.css" />
		<link rel="stylesheet" href="/css/font-awesome.min.css" />
		<link rel="stylesheet" href="/css/style.css" />
	</head>
	<body>
	
		<div th:replace="fragments/navbar :: navbar"></div>
		
		<div class="container">
			<header role="banner" aria-label="cabecera">
				<h1>Resultados de la búsqueda</h1>
			</header>
			
			<main role="main" aria-label="contenido principal">
				<section class="resultado" role="region" aria-label="Película" th:each="pelicula : ${resultados}">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h2 th:text="${pelicula.title}"></h2>
						</div>
						<div class="panel-body">
							<img th:src="${pelicula.thumbnail}" alt="Imagen de la película"/>
							<form role="form" method="post" th:action="@{/peliculas/add}">
								<input type="hidden" name="id" th:value="${pelicula.id}"/>
								<input type="hidden" name="title" th:value="${pelicula.title}"/>
								<label th:for="${pelicula.id}">URL del streaming: </label>
								<input type="text" required="" aria-required="true" name="url_streaming" th:id="${pelicula.id}"/>
								<input class="btn btn-success btn-small" type="submit" value="Agregar esta película"/>
							</form>
						</div>
					</div>
				</section>
			</main>
		</div>
	</body>
</html>