<!DOCTYPE html>
<html class="index-page" xmlns:th="http://www.thymeleaf.org" lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
		
		<title>Cinema DB</title>
		
		<link rel="stylesheet" href="/css/bootstrap.min.css" />
		<link rel="stylesheet" href="/css/style.css" />
	</head>
	<body class="index-page">		
		<div class="index-container">
			<header role="banner" aria-label="cabecera">
				<h1>Bienvenido a la nueva era del cine</h1>
			</header>
			<main role="main" aria-label="Contenido principal">
				<p>
					Con Cinema DB la mejor sala de cine es el salón de tu casa. 
					Aprovéchate de los miles de títulos que tenemos disponibles para ti. 
					Con tu pareja, en familia, con amigos... <strong>la compañía la decides tú</strong>, pero siempre con Cinema DB
				</p> 
				<a href="/home" class="btn btn-success">Acceder</a>
			</main>
		</div>
		
		<script type="text/javascript" src="/js/jquery.min.js"></script>
		<script type="text/javascript" src="/js/bootstrap.min.js"></script>
	</body>
</html>